.login-container {
  width: 380px;
  background-color: rgba(20, 20, 20, 0.918);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  padding-left: -30px;
  transition: box-shadow .3s ease, transform .2s ease;
  color: #fff; /* Cambio de color de las letras a blanco */
}

.login-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  transition: transform .2s ease, opacity .2s ease;
}

.separacion {
  font-size: 16px;
  margin-top: 7px;
}

.login-container .form-control {
  width: 100%;
}

.login-container:hover {
  box-shadow: 0 8px 50px #23232333;
}

.login-container:hover .login-container-wrapper {
  transform: translateY(-5%);
}
